<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movies</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action=<%= `/movies/${rows[0].id}/update` %> method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value=<%= `${rows[0].name}` %>>
            <label for="genre">Genre:</label>
            <select name="genre" id="genre">
                <% genres.map((genre_map) => { %>
                    <% if(genre_map.name == genre.name){ %>
                        <option selected value=<%= `${genre_map.name}` %>> <%=genre_map.name%></option>    
                      <% } else{ %>  
                        <option value=<%= `${genre_map.name}` %>> <%=genre_map.name%></option>    
                     <% } %>
                <% })%>
            </select>
            <button type="submit">Submit</button>
        </form> 
    </body>
</html>